/* Header component */
.navbar {
  border-bottom: 2px solid #df2027;
}
.header-text {
  font-size: 13px !important;
  font-weight: 900 !important;
  font-family: "Gotham", sans-serif;
}
.header-text:hover {
  color: #f7272f;
}
.search {
  width: 20rem !important;
  border: none;
  border-radius: 0px;
  background-color: #eeeeee;
  font-size: 12px !important;
}
.search:focus {
  box-shadow: none;
  background-color: #eeeeee;
}
.btn-desktop-search {
  border-radius: 0px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #eeeeee;
}
.btn-desktop-search:hover {
  background-color: #eeeeee !important;
}
/* .uye-bilgi,
h6 {
  margin: 0;
  padding: 0;
  font-size: 12px !important;
} */
.fa-basket-shopping {
  font-size: 20px;
}
.basket-items {
  background-color: #ffb445;
  font-size: 12px !important;
}
.btn-bars {
  font-size: 24px;
  border: none !important;
  box-shadow: none !important;
}
.btn-bars:hover {
  color: #df2027 !important;
}
#btn-search {
  border: none !important;
  box-shadow: none !important;
}
#btn-search:hover {
  color: #df2027 !important;
}
.header-link {
  padding: 0;
  margin: 0;
  color: rgb(99, 99, 99) !important;
  font-size: 13px !important;
  font-weight: 900 !important;
  font-family: "Gotham", sans-serif;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}
.header-link:hover {
  color: #df2027 !important;
}
.header-item {
  display: inline-block;
  height: 50px;
  cursor: pointer;
}
.first-element {
  border-right: solid 1px black;
}
/* Desktop (xl ve üzeri) cihazlarda bulunan menü-bar / Navbar için gerekli olan css */
.bg-danger {
  background-color: #df2027 !important;
}
.menu-item,
.menu-link {
  padding: 0;
  margin: 0;
  color: #ddd !important;
}
.menu-link {
  font-size: 12px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 20px;
  padding-left: 20px;
  border-right: solid 1px rgba(255, 255, 255, 0.4);

  text-transform: uppercase;
}
.menu-link:hover {
  color: white !important;
}
.menu-item span:first-child {
  border-left: solid 1px rgba(255, 255, 255, 0.4);
}
.menu-item:hover,
.menu-item:focus {
  background-color: #f7272f !important;
  color: white !important;
}
.menu-item-open {
  background-color: #f7272f !important;
}
.menu-item {
  display: inline-block;
  height: 50px;
  cursor: pointer;
}

.dropdown-content {
  width: 100%;
  min-height: 450px;
  height: auto;
  background-color: #f7272f;
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.show {
  display: block;
}
.dropdown-list {
  color: #ddd !important;
  border-bottom: 1px solid black;
}
.dropdown-list:hover {
  color: white !important;
  border-bottom: 1px solid black;
}
.list-item {
  font-size: 12px;
  padding-right: 15px;
}


